Options +FollowSymLinks
RewriteEngine On


# Si la ruta no es un archivo existente, ni una carpeta
# Reescribir al index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9]+)$ index.php?id=$1


#RewriteRule ^(.*)$ %{ENV:BASE}cliente/index.php?id=$1 [QSA,L]
#RewriteRule ^(.+?)/?$ cliente/index.php?id=$1 [L,QSA]
#RewriteRule ^(.+?)/?$ empleado/index.php?id=$2 [L,QSA]